<% layout('./layouts/boilerplate') %>

    <div class="d-flex align-items-center align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-white ">
                <%= status %>
            </h1>
            <h3 class="text-white">
                <%= err %>

            </h3>
        </div>




    </div>