<% layout('./layouts/boilerplate') %>

    <div class="container">

        <div class="row">
            <h1 id="countdown">Hello</h1>

            <div class="col">
                <div class="weather-card one">
                    <div class="top" id="problem_card" style='background: url("<%= problem.image%>");
                    background-size: cover;
                    background-repeat: no-repeat; 
                    background-position: center center;'>
                        <div class="wrapper">
                            <div class="mynav">
                                <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                                <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                            </div>
                            <h1 class="heading">
                                <%=problem.problemTitle %>
                            </h1>
                            <h3 class="location">
                                <%=problem.problem %>
                            </h3>

                            <div class="container">
                                <div class="panel">
                                    <div class="button_outer">
                                        <div
                                            class="btn_upload d-flex flex-column justify-content-center align-items-center">
                                            <label for="solution_upload">Upload Solution</label>

                                            <form id="pdf_form" action="/solution" method="post"
                                                enctype="multipart/form-data">
                                                <input type="file" id="upload_file" name="solution_upload">
                                            </form>

                                        </div>
                                        <div class="processing_bar"></div>
                                        <div class="success_box"></div>
                                    </div>
                                </div>
                                <div class="error_msg"></div>
                                <div class="uploaded_file_view" id="uploaded_view">
                                    <span class="file_remove">X</span>
                                    <span class="text-white" id="uploaded_view_text"></span>
                                    <button id="submit_button" class="mt-3 btn btn-dark">Submit Solution</button>

                                </div>


                            </div>






                        </div>
                    </div>
                    <div class="bottom">
                        <div class="wrapper">
                            <ul class="forecast">
                                <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                                <li class="active">
                                    <span class="date">Posts</span>
                                    <span class="lnr lnr-sun condition">
                                        <span class="temp">23</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="date">Likes</span>
                                    <span class="lnr lnr-cloud condition">
                                        <span class="temp">21</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        // Function to calculate the remaining time until 12:00
        function calculateCountdown() {
            var now = new Date();
            var target = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 24, 0, 0); // Set the target time to 12:00

            var remainingTime = target - now; // Calculate the remaining time in milliseconds

            var hours = Math.floor(remainingTime / (1000 * 60 * 60));
            var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

            // Display the remaining time
            document.getElementById("countdown").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

            // Call the function every second
            setTimeout(calculateCountdown, 1000);
        }

        // Call the function to start the countdown
        calculateCountdown();
    </script>

    <script>

        // Set CSS properties

        var btnUpload = $("#upload_file"),
            btnOuter = $(".button_outer");
        var submit_button = $("#submit_button");
        var upload_file = $("#upload_file");

        btnUpload.on("change", function (e) {
            var ext = btnUpload.val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf']) == -1) {
                $(".error_msg").text("Not a PDF...");
            } else {
                $(".error_msg").text("");
                btnOuter.addClass("file_uploading");
                setTimeout(function () {
                    btnOuter.addClass("file_uploaded");
                }, 3400);
                var filename = e.target.files[0].name;
                var fileinput = upload_file[0].files[0];
                var formData = new FormData();
                formData.append('file', fileinput);
                setTimeout(function () {
                    console.log(formData);
                    $("#uploaded_view").addClass("show");
                    $("#uploaded_view_text").text(filename).addClass("show");
                    submit_button.on("click", function (e) {
                        let form = document.getElementById("pdf_form");
                        form.submit();

                    });



                }, 3500);
            }
        });
        $(".file_remove").on("click", function (e) {
            $("#uploaded_view").removeClass("show");
            $("#uploaded_view").find("img").remove();
            btnOuter.removeClass("file_uploading");
            btnOuter.removeClass("file_uploaded");
        });
    </script>